<div class="row msg-alert ">
  <% if object.errors.any? %>

      <div data-alert class="alert-box ">
        <h6>The form contains <%= pluralize(object.errors.count, 'error') %></h6>
      </div>
      <div class="msg-alert small-10 columns">
        <ul class="msg-alert">
        <% object.errors.full_messages.each do |error| %>

          <li>
            <h6><%= error %></h6>
          </li>
        <% end %>
       </ul>
      </div>
  <% end %>
</div>