// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// GENERAL RULES

.clearfix {
  clear:both;
}
.inline-block {
  display:inline-block;
}
.no-mrg-btm {
  margin-bottom:0px
}
.mg-tp-15 {
  margin-top: -15px;
}
.mg-tp10 {
  margin-top: 10px!important;
}
// Title Margins

h1.lead-title {
  margin-top:40px;
  margin-bottom:50px;
  text-align: center;
  // color: red;
}

div.margin-top, ul.margin-top {

  margin-top: 50px!important;
  margin-bottom: 10px;
}

.panel.main-panel {
  margin-top:30px;
  margin-bottom: 20px;
  padding-top: 40px;  
  margin-left: 0;
  margin-right: 0;
  
}

div.alert-box{
  background-color:rgb(226, 201, 201);
  color:rgb(221, 37, 37);
  // max-height: 50px;
  border-color: #E48A91;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  h1, h2, h3, h4, h5, h6 {
    color: red; //#D64F4F;
  }
  
}
div.main-panel {
  padding-top: 40px;  
  padding-bottom:20px;
}
.panel-title {

}
p.panel-subtitle {
  color:grey;
  font-size: 1.1em;
}

//Alerts

div.row.msg-alert {
  margin-left: 5px;
}
ul.msg-alert {
  color: red; 
  // list-style: none;
  margin: 0 0 18px 0;
  li {
    color: red;
    h6 {
      color:red;
    }
  }
}
//Microposts

.field {
  // width:  350px;
  height: 150px;
  margin:50px 0 20px 0;
}

.m_title {
  margin-left:20px;
}

li.microposts {
  margin-top: 20px;
  border-top: solid 1px #e8e8e8;
}

li .m_content {
  display:block;
  margin: 10px 0 0 0; 
}

li .timestamp {
  color: grey;
  font-size: 0.8em;
}

// Footer

ul.no-list li, li.no-list {
  list-style: none;
  display: inline-block;
  margin-left:10px ;
  // color: #555;
}
// Gravatar List

//right info
.right-info {

  margin-left: 10px;
  margin-top: -10px;
  margin-bottom: 30px;
}


.g_name {
  text-align:left;
  margin-left: 85px;
}


ul.list-style-none {
  list-style: none;
  li {
    margin-bottom: 20px;
  }
}
ul.no-list li a {
  color: #555;
}